<extend name="Index:base" />

<block name="title">酒品列表</block>
<block name="head">
    <script type="text/javascript" src="__PUBLIC__/jedate/jedate.js"></script>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/jedate/skin/jedate.css">
</block>
<block name="content">
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">酒品列表</strong></div>
            </div>

            <hr>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a href="{:U('add')}" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
                    </div>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th>
                                <th class="table-type">酒品序列</th>
                                <th class="table-author am-hide-sm-only">生产日期</th>
                                <th class="table-type">查询次数</th>
                                <th class="table-date am-hide-sm-only">最后查询日期</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="info" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.wine_id}</td>
                                    <td class="am-hide-sm-only"><script>document.write(jeDate.now("{$vo.product_timestamp}"));</script></td>
                                    <td>{$vo.query_times}</td>
                                    <td class="am-hide-sm-only"><script>if({$vo.query_timestamp}) document.write(jeDate.now("{$vo.query_timestamp}"));</script></td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" data-am-popover="{content: '{:getRootUrl()}?id={$vo.wine_id}'}"><span class="am-icon-font"></span> 查询URL</button>
                                                <a class="am-btn am-btn-default am-btn-xs am-hide-sm-only" ><span class="am-icon-list-ol"></span> 物流信息</a>
                                                <a class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 查询历史</a>
                                                <a class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                                <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                </div>

            </div>
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2016 Crystone, Inc.</p>
        </footer>

    </div>
</block>